@charset "utf-8";
#content2 #d0{
	width:720px;
	height:665px;
	}
#content2 #container
{
	float:left;
	margin:0 auto;
	width:360px;
    }
#content2 #content 
{
	float:left; 
	width:150px; 
	height:250px;
	padding-top:15px;
	}
#content2 #navup
{
	float:left;
	 width:200px; 
	 height:50px;
	 margin-top:10px;
	 text-decoration:underline; 
	}
#content2 #navdown
{
	float:left;
	 width:200px; 
	 height:200px; 
	}
#content2 #footer 
{
	clear:both;
	}
#content2 #d{
	width:100px;
	height:19px;
	float:left;
	text-align:center;
	background-image:url(../../../../Pictures/Camera%20Roll/date.gif);}
#content2 #footer a:link{
	text-decoration:none;
	color:#0CF;
	}
#content2 #navdown a:link{text-decoration:none;color:Orange;}/* CSS Document */

