@charset "utf-8";
#left1 #d1{
	width:200px;
	height:230px;
	margin-top:20px;
	}
#left1 #d{
	width:200px;
	height:250px;
	border:1px solid #ccc;}
#left1 #d0{
	width:200px;
	text-align:center;}
#left1 ul{
	margin:15px;
	padding:0px;}
#left1 li{
	list-style:none;}
#left1 a:link{
	text-decoration:none;
	color:black;}
#left1 a:hover{
	color:blue;}/* CSS Document */

