@charset "utf-8";
#right1 #d{
	width:290px;
	height:320px;
	padding-top:5px;
	background-image:url(../../../../Pictures/Camera%20Roll/blockbg.gif);
	background-repeat:no-repeat;
	background-size:290px 320px;}
#right1 #d2{
	margin:25px 0 0 20px;}
#right1 #d0{
	margin-left:20px;
	width:120px;
	height:20px;
	text-align:center;
	background-image:url(../../../../Pictures/Camera%20Roll/date.gif);
	background-repeat:no-repeat;
	background-size:120px 20px;}
#right1 #d1{
	margin-left:20px;}
#right1 a:hover{
	text-decoration:none;}/* CSS Document */

